<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571497717622-i0d5f52hnl319nrekulicr9muncq3rc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571497717622-i0d5f52hnl319nrekulicr9muncq3rc6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>571497717622-nfv1mddf3bmjpbk7i7sr3v2hkn5akjcr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCspVKyfB10urI1w6ixqcJ-GkKatDMg_Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>571497717622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.ios</string>
	<key>PROJECT_ID</key>
	<string>rmsp-fdb2c</string>
	<key>STORAGE_BUCKET</key>
	<string>rmsp-fdb2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571497717622:ios:9c1b4c311bdd121bdda457</string>
	<key>DATABASE_URL</key>
	<string>https://rmsp-fdb2c-default-rtdb.firebaseio.com</string>
</dict>
</plist>
